# IDE files
.vscode

# Compiler files
artifacts/
broadcast/
cache/
cache_hardhat/
out/

# Documentation files
docs/

# Dotenv file
.env

# Node modules
node_modules/

# Local Test Files
slither.config.json



